<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Users</h1>
    <form method="POST" action="/users">
      <input name="name" placeholder="Name" type="text" />
      <input name="email" placeholder="E-mail" type="email" />
      <input type="submit" />
    </form>
    <ul>
      <% users.forEach(u => { %>
      <li>
        ID: <%= u.id %><br />
        Name: <%= u.name %><br />
        E-mail: <%= u.email %><br />
      </li>
      <% }) %>
    </ul>
  </body>
</html>
